<ul class="breadcrumb">
<li><%= link_to 'Home', root_url %></li>
<% if params[:controller] === 'blocks' %>
  <li class="active">Block <%= number_with_delimiter @block['data']['nb'], delimiter: ',' %></li>
<% elsif params[:controller] === 'addresses' %>
  <li class="active">Address <%= @address['data']['address'] %></li>
<% elsif params[:action] === 'bookmarks' %>
  <li class="active">Bookmarks</li>
<% elsif params[:action] === 'calculator' %>
  <li class="active">Calculator</li>
<% elsif params[:controller] === 'platform/v1/chains' %>
  <li><%= link_to 'Blockchains', platform_v1_chains_path %></li>
  <% if params[:action] === 'new' %>
    <li class="active">New</li>
  <% elsif params[:action] === 'edit' %>
    <li class="active">Edit</li>
  <% elsif params[:action] === 'show' %>
    <li class="active"><%= @platform_v1_chain.pub_key %></li>
  <% end %>
<% end %>
</ul>
