<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Big Earth', root_url, class: 'navbar-brand' %>
      <p class="navbar-text">Blockchain Explorer</p>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li class='<%= if params[:controller] == 'users' then "active" end %>'>
            <%= link_to user_path current_user do %>
              <span class="text-primary glyphicon glyphicon-user"></span>
              Profile
            <% end %>
          </li>
        <% else %>
          <li class='<%= if params[:controller] == 'devise/sessions' || params[:controller] == 'devise/registrations' || params[:controller] == 'devise_authy/passwords' || params[:controller] == 'devise/confirmations' then "active" end %>'>
            <%= link_to new_user_session_path do %>
              <span class="text-primary glyphicon glyphicon-user"></span>
              Sign in
            <% end %>
          </li>
        <% end %>
        <li class='<%= if params[:action] == 'bookmarks' then "active" end %>'>
          <%= link_to apps_bookmarks_path do %>
            <span class="text-primary glyphicon glyphicon-bookmark"></span>
            Bookmarks
            <span id='bookmark_count_badge' class="hide label label-primary label-as-badge"></span>
          <% end %>
        </li>
        <li class='<%= if params[:action] == 'calculator' then "active" end %>'>
          <%= link_to apps_calculator_path do %>
            <span class="text-primary glyphicon glyphicon-phone"></span>
            Calculator
          <% end %>
        </li>
        <li class='<%= if params[:controller] == 'charts'  then "active" end %>'>
          <%= link_to charts_show_path do %>
            <span class="text-primary glyphicon glyphicon-dashboard"></span>
            Charts
          <% end %>
        </li>
        <li class='<%= if params[:controller] == 'docs'  then "active" end %>'>
          <%= link_to docs_developers_path do %>
            <span class="text-primary glyphicon glyphicon-earth"></span>
            Docs
          <% end %>
        </li>
        <li>
          <%= link_to 'http://blog.bigearth.io' do %>
            <span class="text-primary glyphicon glyphicon-list-alt"></span>
            Blog
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
