<div class='hero'>
  <section class='container'>
  </section>
</div>
<div class='sub'>
  <section class='container'>
    <ul>
      <li>
        <%= link_to 'Coins in Circulation', charts_circulation_path %>
      </li>
      <li>
        <%= link_to 'Market Cap', charts_market_cap_path %>
      </li>
      <li>
        <%= link_to 'Transaction Fees (BTC)', charts_transaction_fees_btc_path %>
      </li>
      <li>
        <%= link_to 'Transaction Fees (USD)', charts_transaction_fees_usd_path %>
      </li>
      <li>
        <%= link_to 'Network Deficit', charts_network_deficit_path %>
      </li>
      <li>
        <%= link_to 'Transactions (daily)', charts_transaction_daily_path %>
      </li>
      <li>
        <%= link_to 'Transactions (total)', charts_transaction_total_path %>
      </li>
      <li>
        <%= link_to 'Unique Addresses', charts_unique_address_path %>
      </li>
      <li>
        <%= link_to 'Average Transactions per Block', charts_average_transaction_path %>
      </li>
      <li>
        <%= link_to 'Orphaned Blocks', charts_orphaned_block_path %>
      </li>
      <li>
        <%= link_to 'Total Output', charts_total_output_path %>
      </li>
      <li>
        <%= link_to 'Market Price', charts_market_price_path %>
      </li>
      <li>
        <%= link_to 'Hash Rate', charts_hash_rate_path %>
      </li>
      <li>
        <%= link_to 'Difficulty', charts_difficulty_path %>
      </li>
      <li>
        <%= link_to 'Days Destroyed Cumulative', charts_days_destroyed_cumulative_path %>
      </li>
      <li>
        <%= link_to 'Days Destroyed', charts_days_destroyed_path %>
      </li>
      <li>
        <%= link_to 'Block Size', charts_block_size_path %>
      </li>
    </ul>
  </section>
</div>
