<section class="row m-b-md">
    <div class="col-sm-12">
      <h2>Block</h2>
      <%= render partial: 'shared/breadcrumb' %>
        <section class="panel panel-default">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>Height</td>
                            <td><%= number_with_delimiter(@block['data']['nb'], delimiter: ',') %></td>
                        </tr>
                        <tr>
                            <td>Block Time</td>
                            <td><%= Time.parse(@block['data']['time_utc']).strftime("%A, %b #{Time.new.day.ordinalize}, %Y %-I:%M%p") %></td>
                        </tr>
                        <tr>
                            <td>Trades Sum</td>
                            <td title='<%= number_to_currency(@value * @block['data']['vout_sum']) %>'><%= number_with_delimiter(number_with_precision(@block['data']['vout_sum'], precision: 8), delimiter: ',') %> BTC</td>
                        </tr>
                        <tr>
                            <td># Transactions</td>
                            <td><%= number_with_delimiter(@block['data']['nb_txs'], delimiter: ',') %></td>
                        </tr>
                        <tr>
                            <td>Difficulty</td>
                            <td><%= number_with_delimiter(number_with_precision(@block['data']['difficulty'], precision: 2), delimiter: ',') %></td>
                        </tr>
                        <tr>
                            <td>Fee</td>
                            <td title='<%= number_to_currency(@value * @block['data']['fee'].to_f) %>'><%= @block['data']['fee'] %> BTC</td>
                        </tr>
                        <tr>
                            <td>Hash</td>
                            <td><%= @block['data']['hash'] %></td>
                        </tr>
                        <tr>
                            <td>Version</td>
                            <td><%= @block['data']['version'] %></td>
                        </tr>
                        <tr>
                            <td>Confirmations</td>
                            <td><%= number_with_delimiter(@block['data']['confirmations'], delimiter: ',') %></td>
                        </tr>
                        <tr>
                            <td>Merkle Root</td>
                            <td><%= @block['data']['merkleroot'] %></td>
                        </tr>
                        <tr>
                            <% unless @block['data']['next_block_hash'] === '' %>
                                <td>Next Block Hash</td>
                                <td><%= link_to @block['data']['next_block_hash'], block_path(@block['data']['nb'] + 1) %></td>
                            <% end %>
                        </tr>
                        <tr>
                            <td>Prev Block Hash</td>
                            <td><%= link_to @block['data']['prev_block_hash'], block_path(@block['data']['nb'] - 1) %></td>
                        </tr>
                        <tr>
                            <td>Size</td>
                            <% if @block['data']['size'].to_i <= 300000 %>
                              <td class='success'>
                            <% elsif @block['data']['size'].to_i <= 700000 %>
                              <td class='warning'>
                            <% else %>
                              <td class='danger'>
                            <% end %>
                            <%= number_to_human_size(@block['data']['size'].to_i) %></td>
                        </tr>
                        <tr>
                            <td>Coin Days Destroyed</td>
                            <td><%= number_with_delimiter(number_with_precision(@block['data']['days_destroyed'], precision: 2), delimiter: ',') %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</section>
