<section class="row m-b-md">
    <div class="col-sm-12">
      <h2>Block #<%= @block['data']['nb'] %></h2>
        <section class="panel panel-default">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <% @block['data'].each do |data| %>
                            <tr>
                                <td><%= data.first %></td>
                                <td><%= data.second %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</section>
<section class="row m-b-md">
    <div class="col-sm-12">
      <h3>Transactions for Block #<%= @block['data']['nb'] %></h3>
      <% @txs['data']['txs'].each do |tx| %>
        <section class="panel panel-default">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                        <% tx.each do |dta| %>
                            <tr>
                                <td><%= dta.first %></td>
                                <td><%= dta.second %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </section>
      <% end %>
    </div>
</section>
