<section class="row m-b-md">
    <div class="col-sm-12">
        <h3><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Last <%= @blocks['data'].size %> <strong>Bitcoin</strong> Blocks</h3>
        <section class="panel panel-default">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span> Height</th>
                            <th><span class="glyphicon glyphicon-object-align-vertical" aria-hidden="true"></span> Created</th>
                            <th><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Transactions</th>
                            <th>
                              <span class="btc glyphicon glyphicon-bitcoin" aria-hidden="true"></span>
                              <span class="usd hide glyphicon glyphicon-usd" aria-hidden="true"></span> Fee
                            </th>
                            <th><span class="glyphicon glyphicon-scale" aria-hidden="true"></span> Size</th>
                            <th><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Days Destroyed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @blocks['data'].each do |block| %>
                            <tr>
                                <td><%= link_to number_with_delimiter(block['nb'], delimiter: ','), block_path(block['nb']) %></td>
                                <td><%= time_ago_in_words block['time_utc'] %> ago</td>
                                <td><%= number_with_delimiter(block['nb_txs'], delimiter: ',') %></td>
                                <td>
                                  <span class='btc' title='<%= number_to_currency(@exchange_rate * block["fee"].to_f) %>'><%= block['fee'] %> </span>
                                  <span class='usd hide' title='<%= block["fee"] %> BTC'> <%= format_value @exchange_rate * block["fee"].to_f, 2 %></span>
                                </td>
                                <td class='<%= "text-#{color_code_block_size(block)}" %>'><%= number_to_human_size(block['size']) %></td>
                                <td><%= number_with_delimiter(block['days_destroyed'], delimiter: ',') %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</section>
