<section class="row m-b-md">
    <div class="col-sm-12">
        <h3>Last <%= @blocks['data'].size %> <strong>Bitcoin</strong> Blocks</h3>
        <section class="panel panel-default">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Block Height</th>
                            <th>Block Created</th>
                            <th># Transactions</th>
                            <th>Block Fee</th>
                            <th>Size</th>
                            <th>Days Destroyed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @blocks['data'].each do |block| %>
                            <tr>
                                <td><%= link_to number_with_delimiter(block['nb'], delimiter: ','), block_path(block['nb']) %></td>
                                <td><%= time_ago_in_words block['time_utc'] %> ago</td>
                                <td><%= number_with_delimiter(block['nb_txs'], delimiter: ',') %></td>
                                <td>
                                  <span class='btc' title='<%= number_to_currency(@coin_info["data"]["markets"]["coinbase"]["value"] * block["fee"].to_f) %>'><%= block['fee'] %> BTC</span>
                                  <span class='usd hide' title='<%= block["fee"] %> BTC'><%= number_to_currency(@coin_info["data"]["markets"]["coinbase"]["value"] * block["fee"].to_f) %></span>
                                </td>
                                <td class='<%= "text-#{color_code_block_size(block)}" %>'><%= number_to_human_size(block['size']) %></td>
                                <td><%= number_with_delimiter(block['days_destroyed'], delimiter: ',') %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</section>
