<section class="row m-b-md">
    <div class="col-sm-12">
        <h3>Statistics for the last <%= @blocks['data'].size %> blocks</h3>
        <section class="panel panel-default">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Property</th>
                            <th>Sum</th>
                            <th>Mean</th>
                            <th>Median</th>
                            <th>Modes</th>
                            <th>Sorted Frequencies</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @statistics.each do |statistic| %>
                            <tr>
                                <td><strong><%= statistic[0] %></strong></td>
                                <td title='<%= statistic[0] === :fee ? number_to_currency(@value * statistic[1].sum) : "" %>'>
                                  <%= 
                                    if statistic[0] === :size 
                                      number_to_human_size statistic[1].sum
                                    elsif statistic[0] === :fee
                                      "#{number_with_delimiter(number_with_precision(statistic[1].sum, precision: 8), delimiter: ',')} BTC" 
                                    else
                                      number_with_delimiter statistic[1].sum, delimiter: ',' 
                                    end 
                                  %>
                                </td>
                                <td title='<%= statistic[0] === :fee ? number_to_currency(@value * statistic[1].mean) : "" %>'>
                                  <%= 
                                    if statistic[0] === :size 
                                      number_to_human_size statistic[1].mean
                                    elsif statistic[0] === :fee
                                      "#{number_with_delimiter(number_with_precision(statistic[1].mean, precision: 8), delimiter: ',')} BTC" 
                                    elsif statistic[0] === :days_destroyed || statistic[0] === :nb_txs
                                      number_with_delimiter(number_with_precision(statistic[1].mean, precision: 2), delimiter: ',') 
                                    else
                                      number_with_delimiter statistic[1].mean, delimiter: ',' 
                                    end 
                                  %>
                                </td>
                                <td title='<%= statistic[0] === :fee ? number_to_currency(@value * statistic[1].median) : "" %>'>
                                  <%= 
                                    if statistic[0] === :size 
                                      number_to_human_size statistic[1].median
                                    elsif statistic[0] === :fee
                                      "#{number_with_delimiter(number_with_precision(statistic[1].median, precision: 8), delimiter: ',')} BTC" 
                                    elsif statistic[0] === :days_destroyed || statistic[0] === :nb_txs
                                      number_with_delimiter(number_with_precision(statistic[1].median, precision: 2), delimiter: ',') 
                                    else
                                      number_with_delimiter statistic[1].median, delimiter: ',' 
                                    end 
                                  %>
                                </td>
                                <td><%= statistic[1].modes %></td>
                                <td><%= statistic[1].sorted_frequencies %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</section>
