<section class="row m-b-md">
  <div class="col-sm-12">
    <h3><strong>Statistics</strong> for the last
      <%= @blocks['data'].size %>
      blocks</h3>
    <section class="panel panel-default">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Property</th>
              <th>Sum</th>
              <th>Mean</th>
              <th>Median</th>
              <th>Modes</th>
              <th>Sorted Frequencies</th>
            </tr>
          </thead>
          <tbody>
            <% @statistics.each do |statistic| %>
            <tr>
              <td>
                <strong><%= statistic[0] %></strong>
              </td>
              <% [:sum, :mean, :median].each do |statistic_type| %>
              <td>
                <% if statistic[0] === :fee %>
                <span class='btc' title='<%= statistic[0] === :fee ? number_to_currency(@exchange_rate * statistic[1].send(statistic_type)) : "" %>'><%= calculate_statistics statistic, statistic_type %></span>
                <span class='usd hide' title='<%= number_with_precision statistic[1].send(statistic_type), precision: 8 %> BTC'><%= statistic[0] === :fee ? number_to_currency(@exchange_rate * statistic[1].send(statistic_type)) : "" %></span>
              <% else %>
                <%= calculate_statistics statistic, statistic_type %>
                <% end %>
              </td>
              <% end %>
              <td><%= statistic[1].modes %></td>
              <td><%= statistic[1].sorted_frequencies %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</section>
