<div id='index'>
  <section class='container'>
    <%= render 'info' %>
    <%= render 'difficulty' %>
    <%= render 'next_difficulty' %>
  </section>
</div>
<div id='blocks'>
  <section class='container'>
    <%= render 'blocks' %>
    <%= render 'statistics' %>
  </section>
</div>
