<div class='parent_folder' data-child_folder='blockchain'>
  <section class='row'>
    <div class='col-md-3 text-center folder_icon'>
      <span class='glyphicon glyphicon-folder-close' aria-hidden='true'></span>
    </div>
    <div class='col-md-9'>
      <h4>Blockchain</h4>
      <p>15 Requests</p>
    </div>
  </section>
</div>

<ul id='blockchain' class='hide requests'>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb get'>
        GET
      </div>
      <div class='col-md-9'>
        <code>getbestblockhash</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb get'>
        GET
      </div>
      <div class='col-md-9'>
        <code>getblock</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb get'>
        GET
      </div>
      <div class='col-md-9'>
        <code>getblockchaininfo</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb get'>
        GET
      </div>
      <div class='col-md-9'>
        <code>getblockcount</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb get'>
        GET
      </div>
      <div class='col-md-9'>
        <code>getblockhash</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb get'>
        GET
      </div>
      <div class='col-md-9'>
        <code>getblockheader</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb get'>
        GET
      </div>
      <div class='col-md-9'>
        <code>getchaintips</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb get'>
        GET
      </div>
      <div class='col-md-9'>
        <code>getdifficulty</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb get'>
        GET
      </div>
      <div class='col-md-9'>
        <code>getmempoolinfo</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb get'>
        GET
      </div>
      <div class='col-md-9'>
        <code>getrawmempool</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb get'>
        GET
      </div>
      <div class='col-md-9'>
        <code>gettxout</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb get'>
        GET
      </div>
      <div class='col-md-9'>
        <code>gettxoutproof</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb get'>
        GET
      </div>
      <div class='col-md-9'>
        <code>gettxoutsetinfo</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb get'>
        GET
      </div>
      <div class='col-md-9'>
        <code>verifychain</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb get'>
        GET
      </div>
      <div class='col-md-9'>
        <code>verifytxoutproof</code>
      </div>
    </section>
    <% end %>
  </li>
</ul>
