<div class='parent_folder' data-child_folder='blockchain'>
  <section class='row'>
    <div class='col-md-3 text-center folder_icon'>
      <span class='glyphicon glyphicon-folder-close' aria-hidden='true'></span>
    </div>
    <div class='col-md-9'>
      <h4>Blockchain</h4>
      <p>15 Requests</p>
    </div>
  </section>
</div>

<ul id='blockchain' class='hide requests'>
  <li>
    <%= link_to user_chain_get_best_block_hash_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb get'>
        GET
      </div>
      <div class='col-md-9'>
        <code data-action='getbestblockhash'>getbestblockhash</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to user_chain_get_block_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb get'>
        GET
      </div>
      <div class='col-md-9'>
        <code data-action='getblock'>getblock</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to user_chain_get_blockchain_info_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb get'>
        GET
      </div>
      <div class='col-md-9'>
        <code data-action='getblockchaininfo'>getblockchaininfo</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to user_chain_get_block_count_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb get'>
        GET
      </div>
      <div class='col-md-9'>
        <code data-action='getblockcount'>getblockcount</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to user_chain_get_block_hash_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb get'>
        GET
      </div>
      <div class='col-md-9'>
        <code data-action='getblockhash'>getblockhash</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to user_chain_get_block_header_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb get'>
        GET
      </div>
      <div class='col-md-9'>
        <code data-action='getblockheader'>getblockheader</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to user_chain_get_chain_tips_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb get'>
        GET
      </div>
      <div class='col-md-9'>
        <code data-action='getchaintips'>getchaintips</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to user_chain_get_difficulty_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb get'>
        GET
      </div>
      <div class='col-md-9'>
        <code data-action='getdifficulty'>getdifficulty</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to user_chain_get_mem_pool_info_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb get'>
        GET
      </div>
      <div class='col-md-9'>
        <code data-action='getmempoolinfo'>getmempoolinfo</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to user_chain_get_raw_mem_pool_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb get'>
        GET
      </div>
      <div class='col-md-9'>
        <code data-action='getrawmempool'>getrawmempool</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to user_chain_get_tx_out_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb get'>
        GET
      </div>
      <div class='col-md-9'>
        <code data-action='gettxout'>gettxout</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to user_chain_get_tx_out_proof_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb get'>
        GET
      </div>
      <div class='col-md-9'>
        <code data-action='gettxoutproof'>gettxoutproof</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to user_chain_get_tx_outset_info_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb get'>
        GET
      </div>
      <div class='col-md-9'>
        <code data-action='gettxoutsetinfo'>gettxoutsetinfo</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to user_chain_verify_chain_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb get'>
        GET
      </div>
      <div class='col-md-9'>
        <code data-action='verifychain'>verifychain</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to user_chain_verify_tx_out_proof_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb get'>
        GET
      </div>
      <div class='col-md-9'>
        <code data-action='verifytxoutproof'>verifytxoutproof</code>
      </div>
    </section>
    <% end %>
  </li>
</ul>
