<%= form_for([@user, @chain]) do |f| %>
  <% if @chain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chain.errors.count, "error") %> prohibited this chain from being saved:</h2>

      <ul>
      <% @chain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id='flavors' class="btn-group btn-group-justified" role="group" aria-label="Justified button group"> 
    <a href='#' type="button" class="btn btn-default btn-info active" id='bitcoin_core' data-flavor='bitcoin_core'>
      <span class="glyphicon glyphicon-bitcoin" aria-hidden="true"></span> Core 
    </a>
  </div>
  
  <div class="input-group input-group-lg"> 
    <%= f.text_field :title, placeholder: 'Title', class: 'form-control' %>
    <span class="input-group-btn"> 
      <%= f.submit 'Create Blockchain', class: 'btn btn-default' %>
    </span> 
  </div>
<% end %>
