<div class='parent_folder' data-child_folder='mining'>
  <section class='row'>
    <div class='col-md-3 text-center folder_icon'>
      <span class='glyphicon glyphicon-folder-close' aria-hidden='true'></span>
    </div>
    <div class='col-md-9'>
      <h4>Mining</h4>
      <p>5 Requests</p>
    </div>
  </section>
</div>

<ul id='mining' class='hide requests'>
  <li>
    <%= link_to user_chain_get_block_template_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb post'>
        POST
      </div>
      <div class='col-md-9'>
        <code data-action='getblocktemplate'>getblocktemplate</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to user_chain_get_mining_info_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb post'>
        POST
      </div>
      <div class='col-md-9'>
        <code data-action='getmininginfo'>getmininginfo</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to user_chain_get_network_hashps_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb post'>
        POST
      </div>
      <div class='col-md-9'>
        <code data-action='getnetworkhashps'>getnetworkhashps</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to user_chain_prioritise_transaction_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb post'>
        POST
      </div>
      <div class='col-md-9'>
        <code data-action='prioritisetransaction'>prioritisetransaction</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to user_chain_submit_block_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb post'>
        POST
      </div>
      <div class='col-md-9'>
        <code data-action='submitblock'>submitblock</code>
      </div>
    </section>
    <% end %>
  </li>
</ul>
