<div class='parent_folder' data-child_folder='mining'>
  <section class='row'>
    <div class='col-md-3 text-center folder_icon'>
      <span class='glyphicon glyphicon-folder-close' aria-hidden='true'></span>
    </div>
    <div class='col-md-9'>
      <h4>Mining</h4>
      <p>5 Requests</p>
    </div>
  </section>
</div>

<ul id='mining' class='hide requests'>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb post'>
        POST
      </div>
      <div class='col-md-9'>
        <code>getblocktemplate</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb post'>
        POST
      </div>
      <div class='col-md-9'>
        <code>getmininginfo</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb post'>
        POST
      </div>
      <div class='col-md-9'>
        <code>getnetworkhashps</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb post'>
        POST
      </div>
      <div class='col-md-9'>
        <code>prioritisetransaction</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb post'>
        POST
      </div>
      <div class='col-md-9'>
        <code>submitblock</code>
      </div>
    </section>
    <% end %>
  </li>
</ul>
