<div class='parent_folder' data-child_folder='network'>
  <section class='row'>
    <div class='col-md-2 text-center'>
      <span class='glyphicon glyphicon-folder-close' aria-hidden='true'></span>
    </div>
    <div class='col-md-10'>
      <h4>Network</h4>
      <p>11 Requests</p>
    </div>
  </section>
</div>

<ul id='network' class='hide requests'>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-2 text-center'>
        POST
      </div>
      <div class='col-md-10'>
        <code>addnode</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-2 text-center'>
        POST
      </div>
      <div class='col-md-10'>
        <code>clearbanned</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-2 text-center'>
        POST
      </div>
      <div class='col-md-10'>
        <code>disconnectnode</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-2 text-center'>
        POST
      </div>
      <div class='col-md-10'>
        <code>getaddednodeinfo</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-2 text-center'>
        POST
      </div>
      <div class='col-md-10'>
        <code>getconnectioncount</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-2 text-center'>
        POST
      </div>
      <div class='col-md-10'>
        <code>getnettotals</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-2 text-center'>
        POST
      </div>
      <div class='col-md-10'>
        <code>getnetworkinfo</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-2 text-center'>
        POST
      </div>
      <div class='col-md-10'>
        <code>getpeerinfo</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-2 text-center'>
        POST
      </div>
      <div class='col-md-10'>
        <code>listbanned</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-2 text-center'>
        POST
      </div>
      <div class='col-md-10'>
        <code>ping</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-2 text-center'>
        POST
      </div>
      <div class='col-md-10'>
        <code>setban</code>
      </div>
    </section>
    <% end %>
  </li>
</ul>
