<div class='parent_folder' data-child_folder='transaction'>
  <section class='row'>
    <div class='col-md-3 text-center folder_icon'>
      <span class='glyphicon glyphicon-folder-close' aria-hidden='true'></span>
    </div>
    <div class='col-md-9'>
      <h4>Transaction</h4>
      <p>6 Requests</p>
    </div>
  </section>
</div>

<ul id='transaction' class='hide requests'>
  <li>
    <%= link_to user_chain_create_raw_transaction_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb post'>
        POST
      </div>
      <div class='col-md-9'>
        <code data-action='createrawtransaction'>createrawtransaction</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to user_chain_decode_raw_transaction_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb post'>
        POST
      </div>
      <div class='col-md-9'>
        <code data-action='decoderawtransaction'>decoderawtransaction</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to user_chain_decode_script_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb post'>
        POST
      </div>
      <div class='col-md-9'>
        <code data-action='decodescript'>decodescript</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to user_chain_get_raw_transaction_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb post'>
        POST
      </div>
      <div class='col-md-9'>
        <code data-action='getrawtransaction'>getrawtransaction</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to user_chain_send_raw_transaction_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb post'>
        POST
      </div>
      <div class='col-md-9'>
        <code data-action='sendrawtransaction'>sendrawtransaction</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to user_chain_sign_raw_transaction_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb post'>
        POST
      </div>
      <div class='col-md-9'>
        <code data-action='signrawtransaction'>signrawtransaction</code>
      </div>
    </section>
    <% end %>
  </li>
</ul>
