<div class='parent_folder' data-child_folder='transaction'>
  <section class='row'>
    <div class='col-md-3 text-center folder_icon'>
      <span class='glyphicon glyphicon-folder-close' aria-hidden='true'></span>
    </div>
    <div class='col-md-9'>
      <h4>Transaction</h4>
      <p>6 Requests</p>
    </div>
  </section>
</div>

<ul id='transaction' class='hide requests'>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb post'>
        POST
      </div>
      <div class='col-md-9'>
        <code>createrawtransaction</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb post'>
        POST
      </div>
      <div class='col-md-9'>
        <code>decoderawtransaction</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb post'>
        POST
      </div>
      <div class='col-md-9'>
        <code>decodescript</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb post'>
        POST
      </div>
      <div class='col-md-9'>
        <code>getrawtransaction</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb post'>
        POST
      </div>
      <div class='col-md-9'>
        <code>sendrawtransaction</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb post'>
        POST
      </div>
      <div class='col-md-9'>
        <code>signrawtransaction</code>
      </div>
    </section>
    <% end %>
  </li>
</ul>
