<div class='parent_folder' data-child_folder='util'>
  <section class='row'>
    <div class='col-md-3 text-center folder_icon'>
      <span class='glyphicon glyphicon-folder-close' aria-hidden='true'></span>
    </div>
    <div class='col-md-9'>
      <h4>Util</h4>
      <p>7 Requests</p>
    </div>
  </section>
</div>

<ul id='util' class='hide requests'>
  <li>
    <%= link_to user_chain_create_multi_sig_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb post'>
        POST
      </div>
      <div class='col-md-9'>
        <code>createmultisig</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to user_chain_estimate_fee_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb post'>
        POST
      </div>
      <div class='col-md-9'>
        <code>estimatefee</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to user_chain_estimate_priority_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb post'>
        POST
      </div>
      <div class='col-md-9'>
        <code>estimatepriority</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to user_chain_estimate_smart_fee_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb post'>
        POST
      </div>
      <div class='col-md-9'>
        <code>estimatesmartfee</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to user_chain_estimate_smart_priority_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb post'>
        POST
      </div>
      <div class='col-md-9'>
        <code>estimatesmartpriority</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to user_chain_validate_address_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb post'>
        POST
      </div>
      <div class='col-md-9'>
        <code>validateaddress</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to user_chain_verify_message_path(@user, @chain) do %>
    <section class='row'>
      <div class='col-md-3 text-center http_verb post'>
        POST
      </div>
      <div class='col-md-9'>
        <code>verifymessage</code>
      </div>
    </section>
    <% end %>
  </li>
</ul>
