<div class='parent_folder' data-child_folder='util'>
  <section class='row'>
    <div class='col-md-2 text-center'>
      <span class='glyphicon glyphicon-folder-close' aria-hidden='true'></span>
    </div>
    <div class='col-md-10'>
      <h4>Util</h4>
      <p>7 Requests</p>
    </div>
  </section>
</div>

<ul id='util' class='hide requests'>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-2 text-center'>
        POST
      </div>
      <div class='col-md-10'>
        <code>createmultisig</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-2 text-center'>
        POST
      </div>
      <div class='col-md-10'>
        <code>estimatefee</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-2 text-center'>
        POST
      </div>
      <div class='col-md-10'>
        <code>estimatepriority</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-2 text-center'>
        POST
      </div>
      <div class='col-md-10'>
        <code>estimatesmartfee</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-2 text-center'>
        POST
      </div>
      <div class='col-md-10'>
        <code>estimatesmartpriority</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-2 text-center'>
        POST
      </div>
      <div class='col-md-10'>
        <code>validateaddress</code>
      </div>
    </section>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
    <section class='row'>
      <div class='col-md-2 text-center'>
        POST
      </div>
      <div class='col-md-10'>
        <code>verifymessage</code>
      </div>
    </section>
    <% end %>
  </li>
</ul>
