<div class='hero'>
  <section class='container'>
    <h2><span class='glyphicon glyphicon-th' aria-hidden='true'></span> Bitcoin <strong>Blockchains</strong></h2>
    <%= render 'shared/breadcrumb' %>
    <%= render 'shared/social_media' %>
  </section>
</div>
<div class='sub' id='dashboard'>
  <section class='container'>
    <h3><span class='glyphicon glyphicon-th-large' aria-hidden='true'></span> Blockchain <strong>Dashboard</strong></h3>
  </section>
  <section>
    <section class='panel panel-default'>
      <section class='panel-heading'>
        <h3>
          <span class='glyphicon glyphicon-equalizer' aria-hidden='true'></span> <%= @chain.title %>
        </h3>
      </section>
      <section class='panel-body' data-title='<%= @chain.title %>' id='blockchain_title'>
        <section class='row m-b-md'>
          <div class='col-md-3' id='controls' data-ipv4_address='<%= @chain.ipv4_address%>'>
            
            <%= render 'control' %>
            
            <%= render 'blockchain' %>
            
            <%= render 'generate' %>
            
            <%= render 'mining' %>
            
            <%= render 'network' %>
            
            <%= render 'transaction' %>
            
            <%= render 'util' %>
          </div>
          <div class='col-md-9'>
            <div>
              <code id='output'>
                <ul id='complete'>
                </ul>
                <ul id='in_progress'>
                </ul>
              </code>
            </div>
          </div>
        </section>
      </section>
    </section>
  </section>
</div>
