<div class='hero'>
  <section class='container'>
    <h2><span class='glyphicon glyphicon-th' aria-hidden='true'></span> Bitcoin <strong>Blockchains</strong></h2>
    <%= render 'shared/breadcrumb' %>
    <%= render 'shared/social_media' %>
  </section>
</div>
<div class='sub'>
  <section class='container'>
    <h3><span class='glyphicon glyphicon-th-large' aria-hidden='true'></span> Blockchain <strong>Dashboard</strong></h3>
    <section class='panel panel-default'>
      <section class='panel-heading'>
        <h3>
          <span class='glyphicon glyphicon-equalizer' aria-hidden='true'></span> <%= @chain.title %>
        </h3>
      </section>
      <section class='panel-body' data-title='<%= @chain.title %>' id='blockchain_title'>
        <section class='row m-b-md'>
          <div class='col-sm-6' id='controls' data-ipv4_address='<%= @chain.ipv4_address%>'>
            <h4>
              <span class='glyphicon glyphicon-tasks' aria-hidden='true'></span> Controls
            </h4>
            
            <h4>Control</h4>
            <div class='btn-group btn-group-justified' role='group' aria-label='Justified button group'> 
              <%= link_to 'start', user_chain_start_path(@user, @chain), class: 'btn btn-default btn-primary' %>
              <%= link_to 'stop', user_chain_stop_path(@user, @chain), class: 'btn btn-default btn-primary' %>
            </div>
            
            <div class='btn-group btn-group-justified' role='group' aria-label='Justified button group'> 
              <%= link_to 'getinfo', user_chain_get_info_path(@user, @chain), class: 'btn btn-default btn-primary' %>
              <%= link_to [@user, @chain], method: :delete, data: { confirm: "Permanently delete Chain '#{@chain.title}'? This action is undoable." }, class: 'btn btn-default btn-danger', id: 'destroy_chain' do %>
                <span class='glyphicon glyphicon-remove' aria-hidden='true'></span> Destroy
              <% end %>
            </div>
            
            <h4>Blockchain</h4>
            <div class='btn-group btn-group-justified' role='group' aria-label='Justified button group'> 
              <%= link_to 'getbestblockhash', user_chain_get_best_block_hash_path(@user, @chain), class: 'btn btn-default btn-primary' %>
              <%= link_to 'getblock', user_chain_get_block_path(@user, @chain), class: 'btn btn-default btn-primary disabled' %>
              <%= link_to 'getblockchaininfo', user_chain_get_blockchain_info_path(@user, @chain), class: 'btn btn-default btn-primary' %>
            </div>
            
            <div class='btn-group btn-group-justified' role='group' aria-label='Justified button group'> 
              <%= link_to 'getblockcount', user_chain_get_block_count_path(@user, @chain), class: 'btn btn-default btn-primary' %>
              <%= link_to 'getblockhash', user_chain_get_block_hash_path(@user, @chain), class: 'btn btn-default btn-primary disabled' %>
              <%= link_to 'getblockheader', user_chain_get_block_header_path(@user, @chain), class: 'btn btn-default btn-primary disabled' %>
            </div>
            
            <div class='btn-group btn-group-justified' role='group' aria-label='Justified button group'> 
              <%= link_to 'getchaintips', user_chain_get_chain_tips_path(@user, @chain), class: 'btn btn-default btn-primary' %>
              <%= link_to 'getdifficulty', user_chain_get_difficulty_path(@user, @chain), class: 'btn btn-default btn-primary' %>
              <%= link_to 'getmempoolinfo', user_chain_get_mem_pool_info_path(@user, @chain), class: 'btn btn-default btn-primary' %>
            </div>
            
            <div class='btn-group btn-group-justified' role='group' aria-label='Justified button group'> 
              <%= link_to 'getrawmempool', user_chain_get_raw_mem_pool_path(@user, @chain), class: 'btn btn-default btn-primary' %>
              <%= link_to 'gettxout', user_chain_get_tx_out_path(@user, @chain), class: 'btn btn-default btn-primary disabled' %>
              <%= link_to 'gettxoutproof', user_chain_get_tx_out_proof_path(@user, @chain), class: 'btn btn-default btn-primary disabled' %>
            </div>
            
            <div class='btn-group btn-group-justified' role='group' aria-label='Justified button group'> 
              <%= link_to 'gettxoutsetinfo', user_chain_get_tx_outset_info_path(@user, @chain), class: 'btn btn-default btn-primary' %>
              <%= link_to 'verifychain', user_chain_verify_chain_path(@user, @chain), class: 'btn btn-default btn-primary disabled' %>
              <%= link_to 'verifytxoutproof', user_chain_verify_tx_out_proof_path(@user, @chain), class: 'btn btn-default btn-primary disabled' %>
            </div>
          </div>
          <div class='col-sm-6'>
            <h4>
              <span class='glyphicon glyphicon-blackboard' aria-hidden='true'></span> Output
            </h4>
            <div>
              <pre id='output'>
                <ul id='complete'>
                </ul>
                <ul id='in_progress'>
                </ul>
              </pre>
            </div>
          </div>
        </section>
      </section>
    </section>
  </section>
</div>
