<!-- <div class='hero'>
  <section class='container'>
    <h2><span class='glyphicon glyphicon-th' aria-hidden='true'></span> Blockchain <strong>Dashboard</strong></h2>
    <%= render 'shared/breadcrumb' %>
    <%= render 'shared/social_media' %>
  </section>
</div> -->
<div class='sub' id='dashboard'>
  <section>
    <section class='panel panel-default'>
      <section class='panel-heading'>
        <h3>
          <span class='glyphicon glyphicon-equalizer' aria-hidden='true'></span> <%= @chain.title %>
        </h3>
      </section>
      <section class='panel-body' data-title='<%= @chain.title %>' id='blockchain_title'>
        <section class='row m-b-md'>
          <div class='col-md-3' id='controls' data-url='<%= @url %>' data-chain_created='<%= @chain.node_created %>'>
            
            <%= render 'control' %>
            
            <%= render 'blockchain' %>
            
            <%= render 'generate' %>
            
            <%= render 'mining' %>
            
            <%= render 'network' %>
            
            <%= render 'transaction' %>
            
            <%= render 'util' %>
          </div>
          <div class='col-md-9' id='panel'>
            <h3 id='title'>
              <%= link_to '#' do %>
                <span id='title_text'>Creating...</span>
                <span id='caret_parent' class='dropdown'>
                  <span class='caret'></span>
                </span>
              <% end %>
            </h3>
            <p id='details' class='hide'></p>
            <div id='action'>
              <div class='input-group input-group-lg'> 
                <span class='input-group-btn'> 
                  <button class='btn btn-default get' id='http_verb' disabled>GET</button>
                </span>
                <input class='form-control' readonly placeholder='getinfo'>
                <span class='input-group-btn'> 
                  <button id='send' class='btn btn-default'>Send</button>
                </span> 
              </div>
            </div>
            <div class='alert alert-danger hide' role='alert'>
              You need to upgrade this blockchain to the <strong>Pro</strong> tier for this feature to work. <%= link_to 'Click to upgrade', '#' %>.
            </div>
            <%= render 'blockchain_forms' %>
            <div>
              <code id='output'>
                <ul id='complete'>
                </ul>
                <ul id='in_progress'>
                </ul>
              </code>
            </div>
          </div>
        </section>
      </section>
    </section>
  </section>
</div>
