<div class='hero'>
  <section class='container'>
    <h2><span class='glyphicon glyphicon-th' aria-hidden='true'></span> Bitcoin <strong>Blockchains</strong></h2>
    <%= render 'shared/breadcrumb' %>
    <%= render 'shared/social_media' %>
  </section>
</div>
<div class='sub'>
  <section class='container'>
    <h3><span class='glyphicon glyphicon-th-large' aria-hidden='true'></span> Blockchain <strong>Dashboard</strong></h3>
    <section class='panel panel-default'>
      <section class='panel-heading'>
        <h3>
          <span class='glyphicon glyphicon-equalizer' aria-hidden='true'></span> <%= @chain.title %>
        </h3>
      </section>
      <section class='panel-body' data-title='<%= @chain.title %>' id='blockchain_title'>
        <section class='row m-b-md'>
          <div class='col-sm-6' id='controls'>
            <h4>
              <span class='glyphicon glyphicon-tasks' aria-hidden='true'></span> Controls
            </h4>
            <div class='btn-group btn-group-justified' role='group' aria-label='Justified button group'> 
              <%= link_to [@user, @chain], method: :delete, data: { confirm: "Permanently delete Chain '#{@chain.title}'? This action is undoable." }, class: 'btn btn-default btn-primary' do %>
                <span class='glyphicon glyphicon-remove' aria-hidden='true'></span> Destroy
              <% end %>
            </div>
          </div>
          <div class='col-sm-6'>
            <h4>
              <span class='glyphicon glyphicon-blackboard' aria-hidden='true'></span> Output
            </h4>
            <div>
              <pre id='output'>
                <ul id='complete'>
                </ul>
                <ul id='in_progress'>
                </ul>
              </pre>
            </div>
          </div>
        </section>
      </section>
    </section>
  </section>
</div>
