<section class="panel panel-default">
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Hash</td>
                    <td><%= @address['data']['address'] %></td>
                </tr>
                <% ['balance', 'totalreceived'].each do |type| %>
                  <tr>
                      <td>
                        <% if type === 'balance' %>
                          Balance
                        <% else %>
                          Total Received
                        <% end %>
                      </td>
                      <td>
                        <span class='btc' title='<%= number_to_currency(@exchange_rate * @address['data'][type]) %>'><%= number_with_delimiter(number_with_precision(@address['data'][type], precision: 8), delimiter: ',') %> BTC</span>
                        <span class='usd hide' title='<%= number_with_delimiter(number_with_precision(@address['data'][type], precision: 8), delimiter: ',') %> BTC'><%= number_to_currency(@exchange_rate * @address['data'][type]) %></span>
                      </td>
                  </tr>
                <% end %>
                <tr>
                    <td>Total # of Transactions</td>
                    <td><%= number_with_delimiter(@address['data']['nb_txs'], delimiter: ',')  %></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
