<section class="row m-b-md">
  <div class="col-sm-12">
    <% @txs['data']['txs'].each do |tx| %>
      <section class="panel panel-default">
          <div class="table-responsive">
              <table class="table table-striped">
                  <tbody>
                      <tr>
                          <td>Hash</td>
                          <td><%= link_to tx['tx'], transaction_path(tx['tx']) %></td>
                      </tr>
                      <tr>
                          <td>Time</td>
                          <td><%= Time.parse(tx['time_utc']).strftime("%A, %b #{Time.parse(tx['time_utc']).strftime("%d").to_i.ordinalize}, %Y %-I:%M%p") %></td>
                      </tr>
                      <tr>
                          <td>Amount</td>
                          <td class='<%= "text-#{color_tx_value tx['amount']}" %>'>
                            <span class='btc' title='<%= number_to_currency(@exchange_rate * tx["amount"]) %>'><%= number_with_delimiter(number_with_precision(tx["amount"], precision: 8), delimiter: ",") %> BTC</span>
                            <span class='usd hide' title='<%= number_with_delimiter(number_with_precision(tx["amount"], precision: 8), delimiter: ",") %> BTC'><%= number_to_currency(@exchange_rate * tx['amount']) %></span>
                          </td>
                      </tr>
                      <tr>
                          <td># of Confirmations</td>
                          <td><%= number_with_delimiter(tx['confirmations'], delimiter: ',') %></td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </section>
    <% end %>
  </div>
</section>
