<div class='hero'>
  <section class='container'>
    <section class="row m-b-md">
        <div class="col-sm-12">
          <h2>Bitcoin <strong>Address</strong></h2>
          <%= render 'shared/breadcrumb' %>
          <%= render 'shared/social_media' %>
        </div>
    </section>
    <section class="row m-b-md">
        <div class="col-sm-8">
          <%= render 'info' %>
        </div>
        <div class="col-sm-4 qr_code">
          <%= render 'qr_code' %>
        </div>
    </section>
  </section>
</div>
<div class='sub'>
  <section class='container'>
    <section class="row m-b-md">
        <div class="col-sm-12">
          <h3>Transactions (for <strong>Address</strong> <%= @address['data']['address'] %>)</h3>
          <%= render 'first_and_last' %>
          <%= render 'transactions' %>
        </div>
    </section>
  </section>
</div>
