<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  </head>
  <body>
    <h2>Hello <%= @user.email %>,</h2>
    <p>
      You've successfully confirmed your bigearth.io account!
    </p>
    <h2>Next Steps</h2>
    <ol>
      <li>
        We recommend turning on <%= link_to '2 factor authentication', 'https://en.wikipedia.org/wiki/Two-factor_authentication' %> to make your account more secure. First download <%= link_to 'Authy', 'https://www.authy.com/app/' %> and then <%= link_to 'enable two factor authentication', user_enable_authy_url %>. If you don't want to download authy we can handle 2FA via SMS as well.
      </li>
      <li>
        <%= link_to 'Sign in', new_user_session_url %> and <%= link_to 'create your first chain', new_user_chain_url(@user) %>.
      </li>
    </ol>
    <p>Thanks for joining blockchain.bigearth.io!</p>
  </body>
</html>
