<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  </head>
  <body>
    <h1>Welcome <%= @user.email %>!</h1>
    <p>
      You've successfully confirmed your bigearth.io account!
    </p>
    <h2>Next Steps</h2>
    <ol>
      <li>
        We recommend turning on <%= link_to '2 factor authentication', 'https://en.wikipedia.org/wiki/Two-factor_authentication' %> to make your account more secure. First download <%= link_to 'Authy', '' %> and then <%= link_to 'enable two factor authentication', user_enable_authy_path %>.
      </li>
      <li>
        <%= link_to 'Sign in', new_user_session_path %> and create your first <%= link_to 'chain', root_path %>
      </li>
    </ol>
    <p>Thanks for joining blockchain.bigearth.io!</p>
  </body>
</html>
