<section class='container'>
  <section class="row m-b-md">
      <div class="col-sm-12">
        <h2><span class='glyphicon glyphicon-transfer' aria-hidden='true'></span> Bitcoin <strong>Transaction</strong></h2>
        <ul class="breadcrumb">
          <li><%= link_to 'Home', root_url %></li>
          <li><%= link_to "Block #{number_with_delimiter(@tx['data']['block'], delimiter: ',')}", block_path(@tx['data']['block']) %></li>
          <li class="active">Transaction <%= @tx['data']['tx'] %></li>
        </ul>
        <%= render 'shared/social_media' %>
        <% if @tx['data']['is_coinbased'] === 1 %>
        <div class="panel panel-success">
        <% else %>
        <div class="panel panel-default">
          <% end %>
          <div class="panel-heading">
            <h3 class="panel-title">
              <span class='glyphicon glyphicon-transfer' aria-hidden='true'></span> 
              <%= link_to @tx['data']['tx'], transaction_path(@tx['data']['tx']) %>
            </h3>
          </div>
          <div class="panel-body">
            <section class="row m-b-md">
              <div class="col-sm-6">
                <% if @tx['data']['is_coinbased'] === 1 %>
                <span class="label label-success">Newly Generated Coins</span>
                <% else %>
                <h4>Input Address(es)</h4>
                <section class="panel panel-default">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <tbody>
                        <% @tx['data']['trade']['vins'].each do |address| %>
                        <tr>
                          <td><span class='glyphicon glyphicon-qrcode' aria-hidden='true'></span> <%= link_to address['address'], address_path(address['address']) %></td>
                          <td title='<%= number_to_currency(@exchange_rate * address["amount"]) %>' class='text-danger'>
                            <span class='btc' title='<%= number_to_currency(@exchange_rate * address["amount"]) %>'>
                              <span class='glyphicon glyphicon-bitcoin' aria-hidden='true'></span> <%= format_value address['amount'], 8 %></span>
                            <span class='usd hide' title='<%= format_value(address["amount"], 8) %> BTC'><span class='glyphicon glyphicon-usd' aria-hidden='true'></span><%= format_value @exchange_rate * address["amount"], 2 %></span>
                          </td>
                      </td>
                        </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </section>
                <% end %>
              </div>
              <div class="col-sm-6">
                <h4>Output Address(es)</h4>
                <section class="panel panel-default">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <tbody>
                        <% transaction_sum = 0 %>
                        <% @tx['data']['trade']['vouts'].each do |address| %>
                            <% transaction_sum += address['amount'] %>
                            <tr>
                              <td><span class='glyphicon glyphicon-qrcode' aria-hidden='true'></span> <%= link_to address['address'], address_path(address['address']) %></td>
                              <td title='<%= number_to_currency(@exchange_rate * address["amount"]) %>' class='text-success'>
                                <span class='btc' title='<%= number_to_currency(@exchange_rate * address["amount"]) %>'>
                                  <span class='glyphicon glyphicon-bitcoin' aria-hidden='true'></span> <%= format_value address['amount'], 8 %></span>
                                <span class='usd hide' title='<%= format_value(address["amount"], 8) %> BTC'><span class='glyphicon glyphicon-usd' aria-hidden='true'></span><%= format_value @exchange_rate * address["amount"], 2 %></span>
                              </td>
                            </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </section>
              </div>
            </section>
          </div>
          <div class="panel-footer">
            <section class="row m-b-md">
              <div class="col-sm-6">
                <p><span class='glyphicon glyphicon-remove' aria-hidden='true'></span> Days Destroyed: <%= @tx['data']['days_destroyed'] %></p>
              </div>
              <div class="col-sm-6">
                <p title='<%= number_to_currency(@exchange_rate * @tx["data"]["fee"].to_f) %>'>
                  <span class='btc'>
                    <span class='glyphicon glyphicon-bitcoin' aria-hidden='true'></span> 
                    Fee: 
                    <span title='<%= number_to_currency(@exchange_rate * @tx["data"]["fee"].to_f) %>'><%= format_value @tx['data']['fee'], 8 %></span>
                  </span> 
                  <span class='usd hide'>
                    <span class='glyphicon glyphicon-usd' aria-hidden='true'></span> 
                    Fee: 
                    <span title='<%= format_value(@tx["data"]["fee"], 8) %>'><%= number_to_currency(@exchange_rate * @tx["data"]["fee"].to_f) %></span>
                  </span> 
                </p>
                <p title='<%= number_to_currency(@exchange_rate * transaction_sum + @tx["data"]["fee"].to_f) %>'>
                  <span class='btc'>
                    <span class='glyphicon glyphicon-bitcoin' aria-hidden='true'></span> 
                    Transaction Sum: 
                    <span title='<%= number_to_currency(@exchange_rate * transaction_sum + @tx["data"]["fee"].to_f) %>'><%= format_value transaction_sum + @tx['data']['fee'].to_f, 8 %></span>
                  </span> 
                  <span class='usd hide' aria-hidden='true'>
                    <span class='glyphicon glyphicon-usd' aria-hidden='true'></span> 
                    Transaction Sum: 
                    <span title='<%= format_value(transaction_sum + @tx["data"]["fee"].to_f, 8) %> BTC'><%= format_value @exchange_rate * transaction_sum + @tx["data"]["fee"].to_f, 2 %></span>
                  </span> 
                </p>
              </div>
            </section>
          </div>
        </section>
      </div>
  </section>
</section>
