<!DOCTYPE html>
<html lang="en" class="app">
<head>
  <meta charset="utf-8" />
  <title><%= create_page_title %> Big Earth Blockchain Explorer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
</head>
<body data-exchange_rate='<%= @exchange_rate %>'>
  <%= render 'shared/nav_bar' %>
  <%= yield %>
  <%= render 'shared/google_analytics' %>
  <footer>
    <div class='container'>
      <section class="row m-b-md">
        <div class="col-sm-12">
          <%= render 'shared/footer' %>
        </div>
      </section>
    </div>
  </footer>
</body>
</html>
