<!DOCTYPE html>
<!-- 
     Oh, hey! Thanks for stopping by! Did you realize that <%= root_url %> is open source[0]? 
     Please clone the repo[1] and help us build a better blockchain hosting provider.
     
     * [0] https://github.com/cgcardona/blockchain.bigearth.io/blob/develop/LICENSE.md
     * [1] https://github.com/cgcardona/blockchain.bigearth.io 
-->
<html lang='en' class='app'>
<head>
  <meta charset='utf-8'>
  <title><%= create_page_title %> Big Earth Blockchain</title>
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0'>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
  <%= javascript_include_tag 'http://www.google.com/jsapi' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700italic,700,400italic,300,300italic' rel='stylesheet' type='text/css'>
  <%=javascript_include_tag "https://www.authy.com/form.authy.min.js" %>
  <%=stylesheet_link_tag "https://www.authy.com/form.authy.min.css" %>

</head>
<body data-exchange_rate='<%= @exchange_rate %>'>
  <%= render 'shared/nav_bar' %>
  <noscript>
    <div class='container'>
      <div class="alert alert-danger" role="alert">
        <h3><span class='glyphicon glyphicon-warning-sign'
        aria-hidden='true'></span> Uh oh! Some parts of Big Earth don’t work properly without JavaScript!</h3>
        <div>Please enable JavaScript. If you don’t know how, you can find instructions <a href='http://www.enable-javascript.com/' target='_blank'>here</a>.</div>
      </div>
    </div>
  </noscript>
  <div class='container'>
    <% if notice %>
      <div class='alert alert-info'><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class='alert alert-danger'><%= alert %></div>
    <% end %>
  </div>
  <%= yield %>
  <footer>
    <div class='container'>
      <section class='row m-b-md'>
        <div class='col-sm-12'>
          <%= render 'shared/footer' %>
        </div>
      </section>
    </div>
  </footer>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= render 'shared/google_analytics' %>
  <script type='text/javascript' src='https://www.gstatic.com/charts/loader.js'></script>
  <%= javascript_include_tag 'http://www.google.com/jsapi' %>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    var resize = function (callback) {
      window.addEventListener('resize', callback, true);
      callback();
    };
  </script>
</body>
</html>
